:root {
    --primario: #e2cfbf;
    --primarioOscuro: #9b90cc;
    --secundario: #e1f010;
    --secundarioOscuro: rgb(233,287,2);
    --blanco: #fff;
    --negro: #000;

    --fuentePrincipal:  'Staatliches', cursive;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

/* Globales */

body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco)
}

a{
    text-decoration: none;
}
img{
    width:100%;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
h1,h2,h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size:2.4rem;
}

/* Header */
.header{
    display: flex;
    justify-content: center;
}

.header_logo{
    margin: 3rem 0;
}
/* Footer */
.footer{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer_texto{
    font-family: var(--fuentePrincipal);
    text-align: center;
    font-size: 2.2rem;
}
/* Navegacion */
.navegacion{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.navegacion-enlace{
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
}
.navegacion-enlace--activo,
.navegacion-enlace:hover{
    color: var(--secundario);
}
/* Grid */
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    gap: 6rem;
}

@media (min-width: 768px){
    .grid{
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Productos */

.producto{
    background-color: var(--primarioOscuro);
    padding: 0.5rem;

}

.producto_informacion{

}

.producto_nombre{
    font-size: 2rem;

}
.producto_precio{
    font-size: 2.8rem;
    color: var(--secundario);

}
.producto_nombre,
.producto_precio{
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
}

/* Graficos */

.grafico{
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;


}

.grafico--videojuegos{
    grid-row: 2 / 3;
    background-image: url(../img/grafico1.jpg);

}

.grafico--control{
    background-image: url(../img/grafico2.jpg);
    grid-row: 4 / 5;
}

@media (min-width: 768px) {
    .grafico--control{
        grid-row: 4 / 5;
        grid-column: 0 / 4;
    
    }
   
}
/* Nosotros */

.nosotros{
    display: grid;
}

@media (min-width: 768px) {
    .nosotros{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    
    }
   
}

.nosotros_imagen{
    grid-row: 1 / 2;

}
@media (min-width: 768px) {
    .nosotros_imagen{
        grid-column: 2 / 3;
    }
   
}

/* Bloques */
.bloques{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 768px) {
    .bloques{
        grid-template-columns: repeat(4, 1fr);
    }
}
.bloque{
    text-align: center;
}
.bloque_titulo{
    margin: 0%;
}

/* Pagina del producto */

@media (min-width: 768px) {
   .videogame{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
   }
}

.formulario{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.formulario__campo{
   border: 1rem solid var(--primarioOscuro);
   background-color: transparent;
   color: var(--negro);
   font-size: 2rem;
   font-family: Arial, Helvetica, sans-serif;
   padding: 1rem;
   appearance: none;

}
.formulario__submit{
    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    transition: background-color .3s ease;
    grid-column: 1 / 3;
}
.formulario__submit:hover{
    cursor: pointer;
    background-color: var(--secundarioOscuro);
}


/* Estilos para el formulario */
form {
    max-width: 50.5rem; 
    margin: 0 auto;
    padding: 1.25rem;
    background-color: var(--primarioOscuro); 
    border-radius: 0.3125rem;
    transition: background-color 0.3s ease; 
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
    margin: 3rem auto 0;
}

/* Estilos para los campos de entrada */
div.div__a {
    margin-bottom: 3rem;
    
}

span.span__animado {
    display: block;
    margin-bottom: 0.3125rem;
    transition: color 0.3s ease; 
    font-family: var(--fuentePrincipal);
    font-size: 3rem;
    color: var(--secundario);
}

input.campo__animado,
textarea.campo__animado {
    width: 100%;
    padding: 1rem;
    border-radius: 0.1875rem;
    transition: background-color 0.3s ease; 
}

/* Estilo cuando se enfoca en un campo de entrada */
input.campo__animado:focus,
textarea.campo__animado:focus {
    background-color: var(--secundario); 
    border: none;
    outline: none;
    
}

textarea.campo__animado {
    height: 9.375rem;
}

/* Estilos para el botón de enviar */
input.formulario__submit2 {
    background-color: var(--secundario);
    color: var(--negro);
    font-family: var(--fuentePrincipal);
    font-size: x-large;
    border: none;
    padding: 1.5rem 3rem;
    width: 30%;
    border-radius: 0.1875rem;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

input.formulario__submit2:hover {
    background-color: var(--secundarioOscuro);
}
